

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><%= link_to "Send Me a Mad Lib Valentine",  new_valentine_path, :class =>'btn-create' %></div>
  <div class="col-md-4"></div>
</div>
