<div class="page-header">
  <h1>Item for Sale: $<%= @item.number %></h1>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <%= render partial: "sentence#{item.sentence_id || 1}", locals: { item: @item } %>
  </div>
  <div class="col-md-4"></div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><%= link_to "See all Items for Sale", items_path, :class => 'btn-create' %></div>
  <div class="col-md-4"></div>
</div>
